body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.horizontal-container {
    height: calc(100vh - 74px);
    display: flex;
}

.half-screen-div {
    flex: 1;
    background-color: #adadad;
}